/Consol/libConsol/bin/Debug/netcoreapp3.1/*.pdb
/Consol/libConsol/bin/Debug/netcoreapp3.1/*.json
/Consol/libConsol/bin/Debug/netcoreapp3.1/*.dll
/Consol/TestSimpleRuner/obj/Debug/netcoreapp3.1/*.cache
